



#page-container {
  min-height: 100%;
  position: relative;
}

#page-header {
  background-color: #8fcc8f !important;
  /*background: #ff0;
    padding: 10px;
    */
}

  #page-header .nav-link {
    margin-right: 10px;
  }

  #page-header .my-button {
    background-color: #a7f9a7;
  }

#page-body {
  padding: 10px;
  padding-bottom: 60px; /* Height of the footer */
}

.user-login-form {
  margin: auto;
  position: absolute;
  top: 56px;
  bottom: 60px;
  left: 0;
  right: 0;
  max-width: 500px;
  height: 350px;
  border: 0.75px solid #808080;
  padding: 10px 100px 20px 100px;
  background-color: white;
}

  .user-login-form img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 150px;
  }

  .user-login-form .btn {
    color: #808080;
    background-color: #e3f9e3;
    border-color: #e3f9e3;
    display: block;
    margin: auto;
  }

  .user-login-form .form-control {
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    text-align: center;
  }

#page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background-color: #8fcc8f;
  text-align: center;
  padding: 5px 0;
}

  #page-footer div {
    padding: 10px 0;
  }

.request-content-header {
  width: 100%;
  margin: 20px auto;
}

  .request-content-header .nav-link {
    color: #35de3a;
    border: 0.5px solid black;
    margin: auto 4px;
  }

  .request-content-header .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #35de3a;
  }
